name: Ruby

on: [push, pull_request]

env:
  CI: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: ['3.1', '3.2', '3.3', '3.4', '4.0.0-preview3']
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.ruby == '4.0.0-preview3' }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run Tests
      run: bundle exec rake
