name: Ruby

on: [push, pull_request]

env:
  CI: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: ['3.0', '3.1', '3.2', '3.3']
        # Ruby 2.7 is EOL but still supported by the gem
        include:
          - os: ubuntu-latest
            ruby: '2.7'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run Tests
      run: bundle exec rake
